* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.day {
  background-color: beige;
  border: solid 1px black;
  aspect-ratio: 4/3;
}

.day.weekend {
  background-color: lightgrey;
}

.day-title {
  padding: 1rem;
}

.task {
  --task-offset: 0.5rem;
  background-color: green;
  color: white;
  min-height: 1.3rem;
  padding: 0.1rem 0.3rem;
}

.task.start {
  margin-left: var(--task-offset);
}

.task.end {
  margin-right: var(--task-offset);
}
